{% extends "main.html" %}

{% block content %}

<!-- Main Section -->
<main>
    <h1>Tasks Template</h1>
    {% for task in tasks %}
        <ul>
            <hr>
            <li><p>Task ID: {{task.id}}</p></li>
            <li>
                <p>
                    <a href="{% url 'single_task' task.id %}">
                        Title: {{task.title}}
                    </a>
                </p>
            </li>

            {% if task.description%}
            <li><p>Description: {{task.description}}</p></li>
            {% endif %}

            <li><p>Created: {{task.created}}</p></li>
            <hr>
        </ul>
    {% endfor %}
        <a href="{% url 'create_task' %}">Create a New Task</a>
</main>

{% endblock content %}
